# ============================================
# AIRFLOW CONFIGURATION
# ============================================
AIRFLOW_UID=50000
AIRFLOW_GID=50000

# PostgreSQL Airflow
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

# PostgreSQL Warehouse
WAREHOUSE_USER=warehouse
WAREHOUSE_PASSWORD=warehouse
WAREHOUSE_DB=air_quality_db

# ============================================
# API KEYS (à remplacer)
# ============================================
OPENWEATHER_API_KEY=your_openweather_api_key_here

# ============================================
# MINIO (Stockage S3)
# ============================================
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET=air-quality-datalake

# ============================================
# ENVIRONNEMENT
# ============================================
ENVIRONMENT=dev
FERNET_KEY=46BKJoQYlPPOexq0OhDZnIlNepKFf87WFwLbfzqDDho=
